

//GRID
$grid-width: 114rem;
$gutter-vertical-huge: 7rem;
$gutter-vertical-big: 6rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal-gigantic: 10rem;
$gutter-horizontal-huge: 7rem;
$gutter-horizontal: 4.5rem;
$gutter-horizontal-small: 3.5rem;
$gutter-horizontal-tiny: 2rem;
$gutter-horizontal-mini: 1rem;


//COLORS
$color-primary: #FDF3ED;
$color-gray: #D5D7DB;
$color-gray-dark: #707070;
$color-red: #FB0808;
$color-yellow: #FBFFB9;


//BOX-SHADOW
$shadow-default: 0 2px 4px rgba(#000000, .2);
$shadow-light: 0 1px 3px rgba(#000000, .2);


//HEADER WIDTH
$header-width-tabLand: 30rem;
$header-width-desktop: 35rem; 

