*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;                   //1rem = 10px; 10/16px = 62.5%     
    scroll-behavior: smooth;
    
    @include respond(big-tab-land){
        font-size: 62.5%;               //1rem = 10px; 10px/16px = 62.5%          
    }

    @include respond(sm-tab-land){
        font-size: 56.25%;              //1rem = 9px; 9px/16px = 56.25%          
    }

    @include respond(sm-tab-port){
        font-size: 50%;                 //1rem = 8px; 8px/16px = 50%  
    }

    @include respond(big-phone){
        font-size: 43.75%;              //1rem = 7px; 7px/16px = 43.75%  
    }

    @include respond(sm-phone){
        font-size: 37.5%;               //1rem = 6px; 6px/16px = 37.5%  
    }

    @include respond(med-desktop){
        font-size: 68.75%;              //1rem = 11px; 11px/16px = 68.75%
    }

    @include respond(big-desktop){
        font-size: 81.25%;              //1rem = 13px; 13px/16px = 81.25%
    }

    @include respond(huge-desktop){
        font-size: 93.75%;              //1rem = 15px; 15px/16px = 93.75%
    }
}

body {
    box-sizing: border-box;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #000000;
}

