
.main-background{
	position: relative;
	background-color: $color-primary;
}


.content{
	position: absolute;
	top: 0;
	right: 0;

	@include respond(big-tab-port){
		position: static;
		width: 100% !important;
	}
}


.section-about,
.section-design,
.section-develop{
	width: 80%;
	margin: 0 auto;

	@include respond(sm-phone){
		width: 85%;
	}
}


.section-about{
	padding-top: 4rem;

	@include respond(sm-phone){
		padding-top: 10rem;
	}

	&__summary{
		font-size: 1.5rem;
		line-height: 2.8rem;
		font-weight: 400;

		@include respond(big-tab-land){
			line-height: 2.6rem;
		}

		@include respond(big-tab-port){
			font-size: 2rem;
			line-height: 3.7rem;
		}

		@include respond(big-phone){
			font-size: 2.3rem;
			line-height: 5rem;
		}

		@include respond(sm-phone){
			font-size: 2.5rem;
		}

		@include respond(med-desktop){
			font-size: 1.7em;
			line-height: 3rem;
		}

		@include respond(big-desktop){
			font-size: 1.6rem;
		}
	}

	
	.skill-box{
		text-align: center;
		margin-top: 4%;

		@include respond(big-tab-port){
			margin-top: 7%;
		}	

		@include respond(sm-phone){
			margin-top: 10%;
		}			
	}

	.icon{
		display: block;
		width: 11rem;
		margin: 0 auto;
		margin-bottom: 1rem;

		@include respond(big-tab-land){
			width: 10rem;	
		}	

		@include respond(big-tab-port){
			width: 14rem;
			margin-bottom: 2rem;
		}

		@include respond(sm-phone){
			width: 10rem;
		}
	}
	
	.skill-title{
		display: inline-block;
		width: max-content;
		padding: .4rem 1.5rem .4rem 1.2rem;
		margin-bottom: 1rem;
		background-color: #ffffff;
		border-left: 3px solid #000000;

		font-size: 1.5rem;
		font-weight: 500;
		text-transform: lowercase;

		@include respond(big-tab-land){
			padding-left: 1.25rem;
			border-left: 2.5px solid #000000;
		}

		@include respond(sm-tab-land){
			padding: .5rem 1.5rem .5rem 1.25rem;
		}

		@include respond(big-tab-port){
			font-size: 2rem;
			padding: .6rem 1.5rem;
			margin-bottom: 1.5rem;
			border-top: 2px solid #000000;
			border-left: 0;
		}

		@include respond(big-phone){
			font-size: 2.3rem;
		}

		@include respond(sm-phone){
			border-top: 1px solid #000000;
		}

		@include respond(med-desktop){
			font-size: 1.6rem;
		}
	}


	.skill{
		font-size: 1.3rem;
		line-height: 2.2rem;
		font-weight: 400;

		@include respond(big-tab-land){
			line-height: 2.1rem;
		}

		@include respond(big-tab-port){
			font-size: 1.8rem;
			line-height: 3.3rem;
		}

		@include respond(big-phone){
			font-size: 2rem;
			line-height: 3.5rem;
		}

		@include respond(sm-phone){
			font-size: 1.9rem;
			line-height: 3.1rem;
		}

		@include respond(med-desktop){
			font-size: 1.4rem;
			line-height: 2.3rem;
		}
	}
}


.section-design,
.section-develop{
	padding-top: 10rem;		//expand the top for nav tab to change color before reaching the title
}


.section-develop{
	height: 100vh;
	margin-bottom: 10rem;

	@include respond(big-tab-port){
		height: auto;
	}
}


.section-design__content{
	width: 100%;
	position: relative;
}


//section-tab target location
.locator{
	width: 100%;
	height: 4rem;
}








