

body{
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
}


.heading-primary{
	text-align: center;
	margin-bottom: 6%;

	@include respond(big-tab-port){
		display: inline-block;
		width: 100%;
		margin: 8% 0;
	}

	@include respond(big-phone){
		margin-bottom: 6%;
	}

	@include respond(sm-phone){
		margin: 2% 0 5%;
	}

	&--main,
	&--sub{
		margin-bottom: 0;

		@include respond(big-tab-port){
			margin-bottom: 1%;
		}

		@include respond(sm-phone){
			margin-bottom: 2%;
		}
	}
	
	&--main{
		text-transform: uppercase;
		font-size: 3.5rem;
		font-weight: 400;

		@include respond(big-tab-port){
			font-size: 4.2rem;
		}

		@include respond(big-phone){
			font-size: 4.1rem;
		}

		@include respond(sm-phone){
			font-size: 5.3rem;
		}

		@include respond(tiny-phone){
			font-size: 5.3rem;
		}

		@include respond(med-desktop){
			font-size: 3.8rem;
		}

		@include respond(big-desktop){
			font-size: 4.1rem;
		}
	}

	&--sub{
		font-size: 1.3rem;
		font-weight: 400;

		@include respond(sm-tab-land){
			font-size: 1.35rem;
		}

		@include respond(big-tab-port){
			font-size: 1.6rem;
		}

		@include respond(big-phone){
			font-size: 1.55rem;
		}

		@include respond(sm-phone){
			font-size: 2rem;
		}

		@include respond(tiny-phone){
			font-size: 2rem;
		}

		@include respond(med-desktop){
			font-size: 1.45rem;
		}
	}
}


.heading-secondary{
	position: relative;
	display: inline-block;
	z-index: 10;

	font-weight: 400;
	padding-bottom: 3px;
	background-color: #ffffff;

	&--sectionTitle{
		font-size: 3.2rem;
		font-weight: 400;
		padding: 3px 2rem 3px 5px;

		@include respond(big-tab-land){
			font-size: 2.8rem;
		}

		@include respond(sm-tab-land){
			font-size: 3rem;
		}

		@include respond(big-tab-port){
			font-size: 3.8rem;
		}

		@include respond(big-phone){
			font-size: 4.4rem;
			padding: 2px 2rem 2px 5px;
		}

		@include respond(med-desktop){
			font-size: 3.8rem;
		}

		@include respond(big-desktop){
			font-size: 4rem;
		}
	}

	&--designTitle{
		font-size: 2.7rem;
		padding: 5px 1.5rem 5px 5px;

		@include respond(big-tab-land){
			font-size: 2.3rem;
		}

		@media (max-width: 46.88em), (hover:none){		//sm-tab-port
			font-size: 3.5rem;
		}

		@include respond(big-phone){
			font-size: 4rem;
		}

		@include respond(sm-phone){
			font-size: 4.5rem;
		}
	}
}


.heading-tertiary{
	font-size: 1.5rem;
	font-weight: 400;
}


