

html, body{	
	height: 100%;
	width: 100%;
	background: url(img/RedSunset.jpg) no-repeat center center fixed;
	background-size: cover;
}


canvas{
	height: 100%;
	width: 100%;
}


#instruction{
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	position: fixed;
	top: 40%;
	text-align: center;
	width: 100%;
	color: white;
}


 