

.footer{
	&--home{
		position: absolute;
		@include centerH;
		bottom: 1rem;	
		font-weight: 400;
		
		@include respond(big-tab-port){
			font-size: 1.3rem;
		}	

		@include respond(big-phone){
			font-weight: 500;
		}	

		@include respond(sm-phone){
			font-size: 1.6rem;
			bottom: 2rem;
		}
	}

	&--design{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 6vh;
		font-size: 1.2rem;
		
		@include respond(sm-tab-port){
			font-size: 2rem;
			height: 6rem;
		}

		@include respond(big-phone){
			font-size: 2.2rem;
			height: 7rem;
		}

		@include respond(sm-phone){
			font-size: 2.5rem;
		}
	}
}

